@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --aliceblue: #f0f8ff;
  --antiquewhite: #faebd7;
  --aqua: #00B2E2; /* Standard Aqua */
  --aquamarine: #007B7F; /* Standard Aquamarine */
  --azure: #007FFF; /* Standard Azure */
  --beige: #F5F5DC; /* Standard Beige */
  --bisque: #FFE4C4; /* Standard Bisque */
  --black: #000000;
  --blanchedalmond: #FFEBCD; /* Standard Blanched Almond */
  --blue: #0C234D; /* Standard Blue */
  --blueviolet: #5D2E91; /* Standard Blue Violet */
  --brown: #7B3F00; /* Standard Brown */
  --burlywood: #D1B25B; /* Standard Burlywood */
  --cadetblue: #4E8D8B; /* Standard Cadet Blue */
  --chartreuse: #7FFF00; /* Standard Chartreuse */
  --chocolate: #7B3F00; /* Standard Chocolate */
  --coral: #FF6F61; /* Standard Coral */
  --cornflowerblue: #3E8DCE; /* Standard Cornflower Blue */
  --cornsilk: #FFF8DC; /* Standard Cornsilk */
  --crimson: #C72C48; /* Standard Crimson */
  --cyan: #00FFFF; /* Standard Cyan */
  --darkblue: #003DA5; /* Standard Dark Blue */
  --darkcyan: #008B8B; /* Standard Dark Cyan */
  --darkgoldenrod: #B8860B; /* Standard Dark Goldenrod */
  --darkgray: #A9A9A9; /* Standard Dark Gray */
  --darkgreen: #004d00; /* Standard Dark Green */
  --darkkhaki: #BDB76B; /* Standard Dark Khaki */
  --darkmagenta: #8B008B; /* Standard Dark Magenta */
  --darkolivegreen: #556B2F; /* Standard Dark Olive Green */
  --darkorange: #FF8C00; /* Standard Dark Orange */
  --darkorchid: #9932CC; /* Standard Dark Orchid */
  --darkred: #8B0000; /* Standard Dark Red */
  --darksalmon: #E9967A; /* Standard Dark Salmon */
  --darkseagreen: #8FBC8F; /* Standard Dark Sea Green */
  --darkslateblue: #483D8B; /* Standard Dark Slate Blue */
  --darkslategray: #2F4F4F; /* Standard Dark Slate Gray */
  --darkturquoise: #00CED1; /* Standard Dark Turquoise */
  --darkviolet: #9400D3; /* Standard Dark Violet */
  --deeppink: #FF1493; /* Standard Deep Pink */
  --deepskyblue: #00BFFF; /* Standard Deep Sky Blue */
  --dimgray: #696969; /* Standard Dim Gray */
  --dodgerblue: #1E90FF; /* Standard Dodger Blue */
  --firebrick: #B22222; /* Standard Firebrick */
  --floralwhite: #FFFAF0; /* Standard Floral White */
  --forestgreen: #228B22; /* Standard Forest Green */
  --fuchsia: #FF00FF; /* Standard Fuchsia */
  --gainsboro: #DCDCDC; /* Standard Gainsboro */
  --ghostwhite: #F8F8FF; /* Standard Ghost White */
  --gold: #FFD700; /* Standard Gold */
  --goldenrod: #DAA520; /* Standard Goldenrod */
  --gray: #808080; /* Standard Gray */
  --green: #008000; /* Standard Green */
  --greenyellow: #ADFF2F; /* Standard Green Yellow */
  --honeydew: #F0FFF0; /* Standard Honeydew */
  --hotpink: #FF69B4; /* Standard Hot Pink */
  --indianred: #CD5C5C; /* Standard Indian Red */
  --indigo: #4B0082; /* Standard Indigo */
  --ivory: #FFFFF0; /* Standard Ivory */
  --khaki: #F0E68C; /* Standard Khaki */
  --lavender: #E6E6FA; /* Standard Lavender */
  --lavenderblush: #FFF0F5; /* Standard Lavender Blush */
  --lawngreen: #7CFC00; /* Standard Lawn Green */
  --lemonchiffon: #FFFACD; /* Standard Lemon Chiffon */
  --lightblue: #ADD8E6; /* Standard Light Blue */
  --lightcoral: #F08080; /* Standard Light Coral */
  --lightcyan: #E0FFFF; /* Standard Light Cyan */
  --lightgoldenrodyellow: #FAFAD2; /* Standard Light Goldenrod Yellow */
  --lightgray: #D3D3D3; /* Standard Light Gray */
  --lightgreen: #90EE90; /* Standard Light Green */
  --lightpink: #FFB6C1; /* Standard Light Pink */
  --lightsalmon: #FFA07A; /* Standard Light Salmon */
  --lightseagreen: #20B2AA; /* Standard Light Sea Green */
  --lightskyblue: #87CEFA; /* Standard Light Sky Blue */
  --lightslategray: #778899; /* Standard Light Slate Gray */
  --lightsteelblue: #B0C4DE; /* Standard Light Steel Blue */
  --lightyellow: #FFFFE0; /* Standard Light Yellow */
  --lime: #00FF00; /* Standard Lime */
  --limegreen: #32CD32; /* Standard Lime Green */
  --linen: #FAF0E6; /* Standard Linen */
  --magenta: #FF00FF; /* Standard Magenta */
  --maroon: #800000; /* Standard Maroon */
  --mediumaquamarine: #66CDAA; /* Standard Medium Aquamarine */
  --mediumblue: #007BFF; /* Standard Medium Blue */
  --mediumorchid: #BA55D3; /* Standard Medium Orchid */
  --mediumpurple: #9370DB; /* Standard Medium Purple */
  --mediumseagreen: #3CB371; /* Standard Medium Sea Green */
  --mediumslateblue: #7B68EE; /* Standard Medium Slate Blue */
  --mediumspringgreen: #00FA9A; /* Standard Medium Spring Green */
  --mediumturquoise: #48D1CC; /* Standard Medium Turquoise */
  --mediumvioletred: #C71585; /* Standard Medium Violet Red */
  --midnightblue: #191970; /* Standard Midnight Blue */
  --mintcream: #F5FFFA; /* Standard Mint Cream */
  --mistyrose: #FFE4E1; /* Standard Misty Rose */
  --moccasin: #FFE4B5; /* Standard Moccasin */
  --navajowhite: #FFDEAD; /* Standard Navajo White */
  --navy: #000080; /* Standard Navy */
  --oldlace: #FDF5E6; /* Standard Old Lace */
  --olive: #808000; /* Standard Olive */
  --olivedrab: #6B8E23; /* Standard Olive Drab */
  --orange: #FFA500; /* Standard Orange */
  --orangered: #FF4500; /* Standard Red Orange */
  --orchid: #DA70D6; /* Standard Orchid */
  --palegoldenrod: #EEE8AA; /* Standard Pale Goldenrod */
  --palegreen: #98FB98; /* Standard Pale Green */
  --paleturquoise: #AFEEEE; /* Standard Pale Turquoise */
  --palevioletred: #DB7093; /* Standard Pale Violet Red */
  --papayawhip: #FFEFD5; /* Standard Papaya Whip */
  --peachpuff: #FFDAB9; /* Standard Peach Puff */
  --peru: #CD853F; /* Standard Peru */
  --pink: #FFC0CB; /* Standard Pink */
  --plum: #DDA0DD; /* Standard Plum */
  --powderblue: #B0E0E6; /* Standard Powder Blue */
  --purple: #800080; /* Standard Purple */
  --red: #D50000; /* Standard Red */
  --rosybrown: #BC8F8F; /* Standard Rosy Brown */
  --royalblue: #4169E1; /* Standard Royal Blue */
  --saddlebrown: #8B4513; /* Standard Saddle Brown */
  --salmon: #FA8072; /* Standard Salmon */
  --sandybrown: #F4A460; /* Standard Sandy Brown */
  --seagreen: #2E8B57; /* Standard Sea Green */
  --seashell: #FFF5EE; /* Standard Seashell */
  --sienna: #A0522D; /* Standard Sienna */
  --silver: #C0C0C0; /* Standard Silver */
  --skyblue: #87CEEB; /* Standard Sky Blue */
  --slateblue: #6A5ACD; /* Standard Slate Blue */
  --slategray: #708090; /* Standard Slate Gray */
  --snow: #FFFAFA; /* Standard Snow */
  --springgreen: #00FF7F; /* Standard Spring Green */
  --steelblue: #4682B4; /* Standard Steel Blue */
  --tan: #D2B48C; /* Standard Tan */
  --teal: #008080; /* Standard Teal */
  --thistle: #D8BFD8; /* Standard Thistle */
  --tomato: #FF6347; /* Standard Tomato */
  --turquoise: #40E0D0; /* Standard Turquoise */
  --violet: #EE82EE; /* Standard Violet */
  --wheat: #F5DEB3; /* Standard Wheat */
  --white: #FFFFFF; /* Standard White */
  --whitesmoke: #F5F5F5; /* Standard White Smoke */
  --yellow: #FFFF00; /* Standard Yellow */
  --yellowgreen: #9ACD32; /* Standard Yellow Green */
}



*{
  scroll-behavior: smooth !important;  
}

::-moz-selection { /* Code for Firefox */
  color: #000000;
  background: #e6f6e9;
}
::selection {
  color: #000000;
  background: #e6f6e9;
}
body{
  font-family: var(--ibm-plex-regular), sans-serif;
}
.nav__link{
  font-size: 13px;
}
.nav__link:hover{
  background: #c6b99380;
}
.menu__container{
  pointer-events: none;
  transition: all 0.2s ease-out;
}
.menu__wrapper{
  pointer-events: auto;
}

.form__label {
  color: #000000a6;
  top: -1px;
  z-index: 8;
}
.form__input{
  z-index: 10;
}
select.form__input,
.form__checkbox{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.form__input.active + .form__label{
  font-size: 9px; 
  top: -14px;
}
.form__checkbox + label{
  cursor: pointer;
}
.form__checkbox::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.form__checkbox:checked + label::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  top: 3px;
  left: 3px;
  background: #000000;
}
/* Homepage Styling  */
.product__set__link{
  transition: all 0.3s ease-in-out;
}
.product__set__link:hover{
  padding-bottom: 4px;
  opacity: 0.42;
}
.product__gallery .product__wrapper{
  border: 1px solid #e8e8e8;
  border-left: 0;
}
.product__gallery .product__wrapper:first-child{
  border: 1px solid #e8e8e8;
}
.product__gallery::-webkit-scrollbar {
  display: none;
}
.product__gallery{
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
}



/* Products grid styling  */
.product__grid .product__wrapper {
  border: 1px solid #e8e8e8;
  border-left: none;
  border-top: none;
}


.product__grid .product__wrapper:first-child {
  border-left: 1px solid #e8e8e8; /* Remove left border from the first child */
}

.product__grid .product__wrapper:nth-child(4n + 1) {
  border-left: 1px solid #e8e8e8;
}
.product__grid .product__wrapper:nth-child(-n + 4) {
  border-top: 1px solid #e8e8e8;
}

.image__zoom__in{
  cursor: url('/icons/plus.svg'), auto !important;
}
.image__zoom__out{
  cursor: url('/icons/minus.svg'), auto !important;
}
.product__image__wrapper{
  border: 1px solid #e8e8e8;
  border-left: none;
  border-top: none;
}
.product__image__wrapper:first-child{
  border-left: 1px solid #e8e8e8;
}
.product__image__wrapper:nth-child(2n + 1){
  border-left: 1px solid #e8e8e8;
}
.product__image__wrapper:nth-child(-n + 2){
  border-top: 1px solid #e8e8e8;
}

.color__variation__btn{
  width: 36px;
  height: 36px;
  border: 0px solid #000000;
  border-radius: 8px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .variation__color{
  width: 32px;
  height: 32px;
  border-radius: 8px;
 }

.product__grid .color__variation__btn{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #c7c7c7;
 }
.product__grid .color__variation__btn.active{
  border: 2px solid #c7c7c7;
 }
 .product__grid .variation__color{
  width: 20px;
  height: 20px;
  border-radius: 4px;
 }


 /* Swipper slider */
.swiper-pagination-bullet{
  width: 15px !important;
  border-radius: 0px !important;
  height: 1px !important;
  background-color: #d8d8d8 !important;
  margin: 0 !important;
}
.swiper-pagination-bullet-active{
  background: #7e7e7e !important;
}

/* Custom Navigation Arrow Styles */
.product__wrapper {
  position: relative;
}

.product__wrapper .swiper-container {
  position: relative; /* Ensure the container is positioned relative */
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%; /* Center the arrows vertically */
  transform: translateY(-50%); /* Align arrows to the center */
  z-index: 10; /* Ensure the arrows are on top of images */
  cursor: pointer;
  color: black; /* Arrow color */
  opacity: 1; /* Ensure arrows are always visible */
}

.custom-prev {
  left: 10px; /* Position the left arrow on the left side */
}

.custom-next {
  right: 10px; /* Position the right arrow on the right side */
}

@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loading {
  display: inline-block; /* Ensure it behaves like a block for rotation */
  animation: loading .5s linear infinite; /* Rotate infinitely */
}
.loading__wishlist {
  display: inline-block; /* Ensure it behaves like a block for rotation */
  animation: loading .5s linear infinite; /* Rotate infinitely */
}

.bag__item{
  border-top: none;
}
.bag__item:first-child{
  border-top: 1px solid #e8e8e8;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; /* Change this to your desired background color */
  z-index: 50; /* Ensure it appears above all content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Optional: add transition for smooth appearance */
  transition: opacity 0.3s ease;
}

.loading-text {
  font-size: 11px; /* Adjust as needed */
  color: black; /* Change text color as needed */
}


.wish__poupup__item{
  animation: leftSlide 0.3s ease-in-out;
}


@keyframes leftSlide {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    width: 375px;
    opacity: 1;
  }
}

.wish__poupup__item.exit {
  animation: rightSlide 0.3s ease-in-out forwards; /* or another direction */
}

@keyframes rightSlide {
  0% {
    width: 375px;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.slide__up{
  animation: slideUp 0.7s ease;
}
@keyframes slideUp{
  0%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0px);
  }
}

.zoom__in{
  animation: zoomIn 0.5s ease;
}
@keyframes zoomIn{
  0%{
    transform: scale(0.7);
  }
  100%{
  }
}
.zoom__out{
  animation: zoomOut 1s ease;
}
@keyframes zoomOut{
  0%{
    transform: scale(1) translateX(0) translateY(0);
    opacity: 1;
  }
  100%{
    transform: scale(1) translateX(0) translateY(100vh);
    opacity: 0;
  }
}


.image__modal::-webkit-scrollbar {
    display: none; /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
}

.image__modal {
    -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer and Edge */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
}

/* Checkout Style  */
.custom__form .form__label {
  color: #000000a6;
  top: -6px;
  z-index: 9;
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  cursor: text;
  pointer-events: none;
}

.custom__form .form__input{
  z-index: 8;
  width: 100%;
  border-radius: 4px;
  top: -20px;
  padding-top: 3px;
  padding-left: 14px;
  padding-right: 14px;
}
.custom__form .form__textarea {
  top: -25px;
  padding-top: 18px;
}

.custom__form select.form__input,
.custom__form .form__checkbox{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
.custom__form .form__input.active + .form__label{
  font-size: 9px; 
  top: -19px;
}
.custom__form .form__checkbox + label{
  cursor: pointer;
}

.custom__form .form__checkbox::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.custom__form .form__checkbox:checked + label::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  top: 3px;
  left: 3px;
  background: #000000;
}

/* .pwd__visibility{
  display: none;
}
.pwd__container:focus-within .pwd__visibility{
  display: inline-block;
} */

form svg{
  pointer-events: none;
}
/* Auto fill bg color transparent */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    transition: background-color 100s ease-in-out 0s;
} */


/* Stripe card element Payment Form styling */

.form-field {
  position: relative;
  padding: 0 14px;
  padding-top: 20px;
}


.payment__method .radio__box{
  position: relative;
  padding-left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.payment__method input[type="radio"]{
  -webkit-appearance: none;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 50%;
  left: 0;
  top: 5px;
  cursor: pointer;
}
.payment__method input[type="radio"] + label{
  cursor: pointer;
}
.payment__method input[type="radio"]:checked + label::before{
  content: "";
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 3px;
}
.search__bar{
  width: calc(50% - 20px);
}

/* Adjust arrow size and styling for mobile */
@media (max-width: 768px) {
  .custom-prev,
  .custom-next {
    font-size: 24px; /* Adjust arrow size for mobile */
  }
}


.product__img__container::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1023px){
  .product__grid .product__wrapper:nth-child(2n + 1) {
    border-left: 1px solid #e8e8e8;
  }
  .product__grid .product__wrapper:nth-child(3) {
    border-top: none;
  }
  .product__grid .product__wrapper:nth-child(4) {
    border-top: none;
  }
  .search__bar{
    width: calc(100% - 20px);
  }
  
}

.delay__show{
  animation: delayShow 0.4s;
}

@keyframes delayShow{
  0% {
    opacity: 0;
  }
  99%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}